<style>
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin: 0 0 100px;
        /* bottom = footer height */
        padding: 25px;
    }
    footer {
        background-color: #607D8B;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding-top: 1vw;
        overflow:hidden;
    }
</style>
<footer>
    <div class="col-xs-6">
    <h5 style="color: #29363c"><i class="foot fa fa-heart" aria-hidden="true"></i>&nbsp;Made with Love from <b>Sumit Roy<b></b></b></h5>
    </div>
    <div class="col-xs-6">
    <h5 class="text-right" style="color: #29363c"><i class="fa fa-bolt" aria-hidden="true"></i><b>&nbsp;Powered </b>by <i style="text-decoration: underline">Hasura</i> </h5>
    </div>

</footer>