<footer class="" style="height:5vw; width:100%; background-color: #f8f8f8; padding-top: 1.5vw;margin-top: 20vw;">
    <div class="row-fluid" style="color: #0f0548; padding-left: 2vw; padding-right: 2vw">
        <div class="col-xs-6">
            <p><i class="foot fa fa-heart" style="color: #0f0548" aria-hidden="true"></i>&nbsp;Made with Love from <b>Sumit Roy<b></b></b></p>
        </div>
        <div class="col-xs-6">
            <p style="text-align:right;"><i class="fa fa-bolt" aria-hidden="true"></i><b>&nbsp;Powered </b>by <i style="text-decoration: underline">Hasura</i> </p>
        </div>
    </div>

</footer>