<!DOCTYPE html>
<html >
<head>
    <title>Snipcode-HomePage</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://use.fontawesome.com/c024dd16cc.js"></script>


</head>

<body>
<%-include navbar%>
<div class="container">
    <div class="titl text-center">
        <h1><%= title %></h1>
    </div>
    <div class="adj text-center">
        <p><span class='typed'></span> your &ltcode/&gt</p>
    </div>
</div>
<%-include footer%>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<script src="js/index.js"></script>
<script>
    $( document ).ready(function() {
        var source = [
            'back.gif',
            'code.gif',
            'codeback.gif',
            'abs.gif',
            'app.gif',
            'minecraft.gif'
        ];
        var randomNumber = Math.floor(Math.random()*source.length);
        function fn () {

        }
        $('body').css('background-image', 'url(/img/'+source[randomNumber]+')');
        console.log( "ready!" );

    });

</script>
</body>
</html>