<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>SnipCode- Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/search.css">
    <script src="https://use.fontawesome.com/c024dd16cc.js"></script>

</head>

<body>
<%-include navbar%>
<div class="container-fluid search">
    <div class="row-fluid">
        <div class="col-xs-111 col-sm-11 col-md-11">
            <form id='searchForm'>
                <input type="text" name="search" placeholder="Search.." id="searchText">
            </form>
        </div>
    </div>
    <br><br><br><br>
    <div class="row-fluid">
        <div class="col-md-offset-4 col-md-8">
            <a href="searchroute/random" target="_blank" class="btn btn-warning random">Get Random Snippet</a>
        </div>
    </div>
    <div id="load" class="wrapper text-center">
        <ul id="results"></ul>
    </div>
</div>

<%-include footer%>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

<script src="js/search.js"></script>

</body>
</html>