body{
  background-color: #12428e;
}

.container {
  color: #ffffff;
}

.container h2 {
  margin-bottom: 2vw;
}

input[type=text]{
    color: #0f0548;
}

.container img {
  max-width: 200px;
  margin-bottom: 4vw;
}

.heading a p {
  color: #FFFFFF;
}

.panel p {
  color: #000000;
}