body{
  background-color: #12428e;
}

.container {
  color: #ffffff;
}

.container h2 {
  margin-bottom: 2vw;
}

.container img {
  max-width: 200px;
  margin-bottom: 4vw;
}

.panel {
  max-width:
}

.panel p {
  color: #000000;
}