@font-face {
    font-family: zilap;
    src: url("../fonts/zilap.ttf");
}

@font-face {
    font-family: gnu;
    src: url("../fonts/Munro.ttf");
}

body {
    /*background: url('/img/back.gif') no-repeat;*/
    background-size: cover;
}

.container {
    color: #e8ebef;
}

.titl h1 {
    color: #d0d0d0;
    font-size: 14vw;
    font-family: zilap;
}

.dropdown p {
    padding-top: 1vw;
}

.adj {
    color: #d0d0d0;
    margin-top: 3vw;
    font-size: 4vw;
    font-family: gnu;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
